extends layout
include mixins/_tableRow

block content
  br
  p Bienvenue sur #[em Netflix-Express].

  h1 Affichage du contenu dynamique

  if error
    p Error getting dynamic content.
  else
    p Votre database contient actuellement !{seen_titles_count + rated_titles_count} entrées.

    ul
      li #[strong Nombre de titres vus:] !{seen_titles_count} 
      p Affichage de !{printed_count} entrées.
        br
        .ui.container
          table.ui.celled.table.center.aligned
            thead
              tr
                th  Nom
                th  Date
            tbody
              each title in seen_titles
                +tableRow(title)
            tfoot
              tr
                th(colspan='2')
      li #[strong Nombre de titres notés:] !{rated_titles_count}
      p Affichage de !{printed_count} entrées.
        .ui.container
          table.ui.celled.table.center.aligned
            thead
              tr
                th  Nom
                th  Date
            tbody
              each title in rated_titles
                +tableRow(title)
            tfoot
              tr
                th(colspan='2')
