extends layout

block content
  p

  p Bienvenue sur #[em Netflix-Express].

  h1 Affichage du contenu dynamique

  if error
    p Error getting dynamic content.
  else
    p Votre database contient actuellement !{seen_titles.count + rated_titles.count} entrées.

    ul
      li #[strong Nombre de titres vus:] !{seen_titles.count} 
      p Affichage de !{count} entrées
        ul
          each object in seen_titles.rows
            li ---
            ul
              each val, key in object
                li= key + ": " + val
      li #[strong Nombre de titres notés:] !{rated_titles.count}
      p Affichage de !{count} entrées
        ul
          each object in rated_titles.rows
            li ---
            ul
              each val, key in object
                li= key + ": " + val
