extends layout

block content
    br
    p Affichage des détails de l'entrée #[em !{title_details.name}].

    div(style='margin-left:20px;margin-top:20px')
        
        dl
            dt Identifiant
            dd= title_details.id

            dt Nom
            dd= title_details.name

            dt Type
            dd= title_details.type

            dt Date
            dd= title_details.date

            dt Date de création dans la database
            dd= title_details.createdAt

            dt Date de mise à jour dans la database
            dd= title_details.updatedAt

    p Voulez-vous vraiment supprimer cette entrée ?
    
    form(method='POST' action='')
        div.form-group
            input#titleid.form-control(type='hidden' name='titleid' required='true' value=title_details.id )

        button.btn.btn-primary(type='submit') Supprimer l'entrée